#python
# time - builtin - PSF license
# re - builtin - PSF license
# subprocess - PSF license
# argparse - builtin - PSF license
setuptools>=80.9
# virtualenv - MIT license
virtualenv>=20.35.0
# six - MIT license
six>=1.0.0
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
tox>=3.0.0
#py>=1.4.33
pip>=25.2
# python-repo - MIT license
#-e git+https://github.com/reactive-firewall/python-repo.git#egg=python-repo

